<div class="dialog">
  <div class="mx-4 my-4">
    <form>
      <div class="mb-3">
        <label for="title" class="form-label">Title : </label>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description : </label>
      </div>

      <div class="mb-3">
        <label for="role" class="form-label">Role : </label>
      </div>
      <div class="d-grid">
        <button class="btn btn-success mt-4" (click)="editTask()">
          Add Task
        </button>
      </div>
    </form>
  </div>
</div>
