<div class="container-fluid mt-5 w-25 h-50">
  <form [formGroup]="loginForm">
    <!-- Email input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form2Example1">User Name</label>
      <input
        type="text"
        id="form2Example1"
        class="form-control"
        placeholder="username"
        formControlName="userName"
        userName
      />
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form2Example2">Password</label>
      <input
        type="password"
        id="form2Example2"
        class="form-control"
        placeholder="password"
        formControlName="password"
      />
    </div>

    <div class="form-outline mb-4">
      <!-- Submit button -->
      <button type="button" class="btn btn-primary btn-block" (click)="login()">
        Sign in
      </button>
    </div>
  </form>
</div>
